<%= content_for :body_class, "cross_gallery" %>
<div class='ways'>
  <%= link_to image_tag('video_icon.png'), video_gallery_index_path %>
  <%= link_to image_tag('photo_icon.png'), galleries_path %>
</div>
