<%= content_for :body_class, " education " %>

<div class='legend'>Обучение и тренинги:</div>

<ul class='list'>
  <li>- Подготовка специалистов в области личной охраны по различным программам;</li>
  <li>- Подготовка охранников и инкассаторов;</li>
  <li>- Специализированные курсы и семинары по всем навыкам телохранителя;</li>
  <li>- Постоянный тренинг сотрудников персональной охраны, как на базе Академии, так и на территории Заказчика;</li>
  <li>- Легководолазная подготовка сотрудников личной охраны (водолаз-телохранитель);</li>
  <li>- Подготовка и обучение групп ГБР (групп быстрого реагирования);</li>
  <li>- Подготовка поисково-патрульных группы по охране удаленных коммуникаций и объектов;</li>
  <li>- Подготовка команд морского сопровождения и охраны;</li>
  <li>- Подготовка сотрудников антитеррористических подразделений и разведывательных подразделений министерства обороны;</li>
  <li>- Специальная альпиниская подготовка разведывательных и антитеррористических подразделений;</li>
  <li>- Специализированные курсы по выживанию в горно-лесистой местности.</li>
</ul>
