/**
 * Global
 */
body, table, tr, td, th, thead, tbody, h1, h3, form, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Cothic;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
  background: url(/images/start_bg_slice.png);
}

.main{
  width: 1209px;
  background: url(/images/texture_bg_2.png);
  margin: 0 auto;
  position: relative;
  padding-bottom: 1em;
}

img {
  border: none;
}

a{
  color: #fff;
}

.pagination{
  text-align: center;
  font-family: Tahoma;
}

.pagination > *{
  margin-left: 10px;
}

.pagination .current{
  padding: 3px;
  background-color:#F9ED01;
  font-size: 20px;
  color: #FFF;
  font-width: bold;
}

.legend{
  font-weight: bold;
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

/******************************************************* TOP MENU ************************************************/

.top_menu{
}

.top_menu > *{
  display: inline-block;
  width: 140px;
  height: 30px;
  background: url(/images/menu_bg.png) no-repeat;
  padding-top: 5px;
  text-align: center;
  margin-left: -14px;
  -moz-box-sizing: border-box;  
}

.top_menu > *:first-child{
  margin-left: 0px;
}

.top_menu a {
  text-decoration: none;
}

.top_menu a:hover {
  background: url(/images/active_menu_bg.png)  no-repeat;
  color: #010000;
}

.top_menu .current_page{
  background: url(/images/active_menu_bg.png)  no-repeat;
  color: #010000;
}

.plashka{
  background: url("/images/plashka.png") no-repeat scroll 0 0 transparent;
  font-size: 2em;
  height: 313px;
  padding-top: 112px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1em;
  width: 202px;
}

/******************************************************TOP INFO*******************************/

.top_info img{
  width: 1209px;
}


.success_note{
  color: green;
  display: block;
}

.error_note{
  color: red;
  display: block;
}

.reset_float {
  clear: both;
}

.single_line_container > * {
  float: left;
}

.right_float > * {
  float: right;
}

/******************************CONTNENT************************************/

.content_wrapper {
  background-color: #272727;
  -moz-border-radius: 10px;
  margin-top: -10px;
  position: relative;
  z-index: 2;
  color: #BEBEBE;
}

.content{
  padding: 2em 3em;
  
}

/******************************************BASEMENT************************************************/
.basement{
  margin-top: 3em;
}

.basement .contacts{
  width: 430px;
  margin: 0 auto;
}

.basement .contacts .phone_email{
  border-left: 1px solid #ffff00;
  padding-left: 25px;
}


.contacts{
	font-family: Century Gothic;
	font-size: 13px;
	color: #676767;
  -moz-box-sizing: border-box;  
  margin-top: 0.1em;
}

.contacts .address{
 -moz-box-sizing: border-box;
	text-align: right;
}


.contacts .phone_email{
 -moz-box-sizing: border-box;
 	text-align: left;
 	float: right;
}

.start .contacts .address, .start .contacts .phone_email{
  width: 46%;
}

/******************************************************* HOME ************************************************/

.home .content div,
.home .content p{
	text-indent: 20px;
} 

.home .licenzies img{
  width: 220px;
  margin: 10px;
}

.home .licenzies{
  text-align: center;
}

.home .licenzies h4{
  text-align: center;
}


/*************************************KIT******************************************************************/


.left_menu{
  margin-right: 1.1em;
}

.kit_content .products{
	width: 860px;
	font-family: Tahoma;
	font-size: 14px;
}

.kit_content .products .item{
	width: 29%;
	margin-bottom: 50px;
	margin-right: 3%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.kit_content .products .item .name{
	font-weight: bold;
}

.kit_content .products .item .description{
	font-size: 13x;
}

.kit_content .products .item .price_wrapper{
	margin-top: 20px;
}

.kit_content .products .item .price{
	padding: 5px;
	background-color: #F9ED01;
	font-size: 16px;
	color: #000;
}

/***********************************GALLERY************************/



.gallery_content .photos{
	width: 860px;
	font-family: Tahoma;
	font-size: 14px;
}

.gallery_content .photos .item{
	width: 29%;
	margin-bottom: 30px;
	margin-right: 3%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.gallery_content .photos .item .date{
	margin-top: 10px;
}

.gallery_content .photos .item .name{
	font-weight: bold;
	font-size: 18px;
}

.gallery_content .legend{
  color: #ffff00;
}
/**************************************SHOW GALLERY**************/

.show_gallery .photos .item{
	width: 22%;
	margin-bottom: 16px;
	margin-right: 20px;
}

.show_gallery .gallery_name{
	font-size: 18px;
}

.show_gallery .close_dialog{
	color: #FFF;
	position: absolute;
	top: -15px;
	right: 0;
}

.ad-gallery .ad-back{
	background: url(/images/arr_left.png) no-repeat scroll 0 39px transparent;
	left: -52px;
	width: 54px;
}

.ad-gallery .ad-forward{
	background: url(/images/arr_right.png) no-repeat scroll 0 39px transparent;
	right: -52px;
	width: 43px;
}

.jqmWindow {
	top: 50px;
	background-color: #000;
	position: absolute;
}

/***************************************SERVICE**********************************************/

.service ul li {
	margin-left: 20px;
}

/***************************************EDUCATION************/


.education .title{
	font-size: 14px;
	font-weight: bold;
}

.education ul {
	margin-top: 50px;
}

.education ul li {
	list-style: none;
	margin-bottom: 5px;
}

.education .list .item{
	text-decoration: none;
	border-bottom: 1px dashed;
}

.education .list .text{
	margin-left: 20px;
}


/**********************************CONTACT***********************************/

.contact .row{
	font-size: 20px;
}

.contact .row .label{
	width: 500px;
	text-align: right;
	margin-right: 10px;
}

.contact .row .value{
	width: 400px;
	text-align: left;
}

.contact .content {
	margin-bottom: 30px;
}

/**************************************** events *************************************/

.events ul li{
  list-style: none;
  margin-top: 30px;
}

.events ul a{
  text-decoration: none;
}

.events ul a.date{
  display: block;
  color: #FAFA00;
}

/***************************************start***********************************************/

.start .main{
  width: 1024px;
}

.start .big_logo {
  width: 1024px;
  height: 708px;
  background: url(/images/big_logo.png);
  margin: 0 auto;
}

.start .big_logo h1, .slogan h1{
  color: #FDED00;
  text-align: center;
  padding-top: 1em;
}

.start .big_logo h2, .slogan h2{
  color: #fff;
  text-align: center;
}

.slogan{
  margin-left: 8em;
  margin-top: 1em;
}

.start .big_logo .home_link{
	position: relative;
	width: 1024px;
	height: 518px;
	display:block;
	top: 0px;
}

.login_form{
	width: 500px;
}
