/**
 * Global
 */
body, table, tr, td, th, thead, tbody, h1, h3, form, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Times New Roman;
  font-size: 16px;
	color: #000;
  padding: 0 10px;
	width: 1240px;
	margin: 0 auto;
	padding-bottom: 30px;
/*	border: 1px solid red;*/
}


img {
  border: none;
}

.content{
	margin: 20px 0 0 50px;
	width: 1160px;
/*	border: 1px solid red;*/
}

.left_hi{
	margin-top: 20px;
}

a{
	color: #29039B;
}

.pagination{
	text-align: center;
	font-family: Tahoma;
}

.pagination > *{
	margin-left: 10px;
}

.pagination .current{
	padding: 3px;
	background-color:#F9ED01;
	font-size: 20px;
	color: #FFF;
	font-width: bold;
}

.legend{
	font-weight: bold;
	margin-bottom: 10px;
}

.hidden{
	display: none;
}

/******************************************************* TOP MENU ************************************************/

.top_menu{
	margin: 50px 0 20px 0;
	background-image: url(/images/back_logo.png);
	width: 533px;
	height: 293px;
	font-family: Century Gothic;
	color: #111d9c;
	font-size: 23px;
}


.top_menu .logo_link{
	margin: 0 0 0 30px;
}

.top_menu .top_menu_links{
	margin-top: 35px;
	margin-left: 118px;
}

.top_menu .top_menu_links a{
	margin-bottom: 3px;
}

.top_menu a{
	display: block;
}

.top_menu .current_page{
	background-color: #F9ED01;
	color: #FFF;
	font-weight: bold;
	font-size: 32px;
	padding: 0 6px 6px;
	width: 201px;
	display: block;
	margin-left: -7px;
}


/******************************************************TOP INFO*****************************************************/

.top_info{
	position: relative;
	width: 707px;
}

.top_info img{
	position: absolute;
	right: 0;
	top: 0;
}

.top_info .default_img{
	margin-top: 10px;
}

.success_note{
  color: green;
	display: block;
}

.error_note{
  color: red;
	display: block;
}

.reset_float {
  clear: both;
}

.single_line_container > * {
  float: left;
}

.right_float > * {
  float: right;
}

.admin_top_menu{
	background-color: yellow;
}

.phones {
	margin: 150px 10px 0 30px;
	font-family: Century Gothic;
	font-size: 16px;
}

.phones span {
	font-size: 16px;
	font-weight: bold;
	display: block;
}

/*****************************************BASEMENT************************************************/
.basement{
  text-align: center;
  padding-top: 20px;
}

.basement .line{
	background-color: #FDED01;
	height: 43px;
	font-family: Century Gothic;
	font-weight: bold;
	color: #FFF;
	font-size: 36px;
	line-height: 40px;
}

.basement .bottom_menu{
	margin: 10px 0;
	font-size: 14px;
}

.basement .bottom_menu a{
	padding-right: 30px;
	font-family: Century Gothic;
}

.contacts{
	margin: 0 auto;
	width: 600px;
	padding-left: 136px;
	font-family: Century Gothic;
	font-size: 14px;
}

.contacts .address{
	text-align: right;
	padding-right: 10px;
}

.contacts .phone_email{
	text-align: left;
	padding-left: 10px;
	border-left: 1px solid black;
}

/******************************************************* HOME ************************************************/
.home .phones {
	font-size: 20px;
}

.home .phones span {
	font-size: 22px;
}

.home .top_info{
	position: relative;
}

.home .top_info img{
	width: 143px;
}

.home .content{
	width: 900px;
	height: 219px;
}

.home .content div,
.home .content p{
	text-indent: 20px;
} 

/******************************CONTNENT************************************/
.left_menu{
	width: 300px;
/*	border: 1px solid red;*/
}

.left_menu .item{
	margin: 3px 0;
}


/*************************************KIT******************************************************************/


.kit_content .top_info img{
	width: 289px;
}

.kit_content .content{
	margin-left: 20px;
}


.kit_content .products{
	width: 860px;
	font-family: Tahoma;
	font-size: 14px;
}

.kit_content .products .item{
	width: 29%;
	margin-bottom: 50px;
	margin-right: 3%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.kit_content .products .item .name{
	font-weight: bold;
}

.kit_content .products .item .description{
	font-size: 13x;
}

.kit_content .products .item .price_wrapper{
	margin-top: 20px;
}

.kit_content .products .item .price{
	padding: 5px;
	background-color: #F9ED01;
	font-size: 16px;
}

/***********************************GALLERY************************/


.gallery_content .photos{
	width: 860px;
	font-family: Tahoma;
	font-size: 14px;
}

.gallery_content .photos .item{
	width: 29%;
	margin-bottom: 30px;
	margin-right: 3%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.gallery_content .photos .item .date{
	margin-top: 10px;
}

.gallery_content .photos .item .name{
	font-weight: bold;
	font-size: 18px;
}

/**************************************SHOW GALLERY**************/

.show_gallery .photos .item{
	width: 22%;
	margin-bottom: 16px;
	margin-right: 20px;
}

.show_gallery .gallery_name{
	font-size: 18px;
}

.show_gallery .close_dialog{
	color: #FFF;
	position: absolute;
	top: -15px;
	right: 0;
}

.ad-gallery .ad-back{
	background: url(/images/arr_left.png) no-repeat scroll 0 39px transparent;
	left: -52px;
	width: 54px;
}

.ad-gallery .ad-forward{
	background: url(/images/arr_right.png) no-repeat scroll 0 39px transparent;
	right: -52px;
	width: 43px;
}

.jqmWindow {
	top: 50px;
	background-color: #000;
	position: absolute;
}

/***************************************SERVICE**********************************************/

.service ul li {
	margin-left: 20px;
	list-style-image: url(/images/dash.png);
}

.service .top_info img{
	width: 380px;
}


.login_form{
	width: 500px;
}

/***************************************EDUCATION************/
.education .top_info img{
	width: 460px;
}

.education .title{
	font-size: 14px;
	font-weight: bold;
}

.education ul {
	margin-top: 50px;
}

.education ul li {
	list-style: none;
	margin-bottom: 5px;
}

.education .list .item{
	text-decoration: none;
	border-bottom: 1px dashed;
}

.education .list .text{
	margin-left: 20px;
}


/**********************************CONTACT***********************************/

.contact .top_info img{
	width: 217px;
}

.contact .row{
	font-size: 20px;
}

.contact .row .label{
	width: 400px;
	text-align: right;
	margin-right: 10px;
}

.contact .row .value{
	width: 400px;
	text-align: left;
}

.contact .content {
	margin-bottom: 30px;
	
}

/***************************************start***********************************************/

.start {
  background: url(/images/start_bg_slice.png);
}

.start .big_logo {
  width: 1024px;
  height: 708px;
  background: url(/images/start_bg.png);
  margin: 0 auto;
	position: relative;
}

.start .big_logo h1{
  color: #FDED00;
  text-align: center;
  padding-top: 1em;
}

.start .big_logo h2{
  color: #fff;
  text-align: center;
}

.start .big_logo .home_link{
	position: relative;
	width: 1024px;
	height: 430px;
	display:block;
	top: 0px;
	outline: none;
}


.start .contacts{
  position: relative;
  color: #676767;
  padding-left: 0;
  top: 94px;
  left: 39px;
}

body:nth-of-type(1) .contacts{
  left: 38px;
}

.start .contacts .phone_email{
  border-left: 1px solid #E5E500;
  padding-left: 20px;
}

.start .contacts .address{
  padding-right: 20px;
}