<%= content_for :body_class, ' start ' %>
<div class='big_logo'>
  <h1>Академия Телохранителей Украины</h1>
  <h2>«Профессионализм. Законность. Конфеденциальность.»</h2>
  <%= link_to '', home_index_path, :class => 'home_link' %>
  <%= render :partial => '/layouts/footer' %>
</div>
