<%= content_for :body_class, "home" %>
  
<% content_tag :div do %>
	"АКАДЕМИЯ ТЕЛОХРАНИТЕЛЕЙ УКРАИНЫ" создана в 2010 году с целью проведения  обучения, повышения квалификации, тренингов, семинаров  - с  сотрудниками
	 личной охраны, инкассаторами,  военнослужащими специальных подразделений МО, МВД, Службы безопасности  Украины. 
	<% end -%>

	<% content_tag :div do %>
	"АКАДЕМИЯ ТЕЛОХРАНИТЕЛЕЙ УКРАИНЫ"     является      официальным учебным центром   «НАЦИОНАЛЬНОЙ ПРОФЕССИОНАЛЬНОЙ ЛИГИ ТЕЛОХРАНИТЕЛЕЙ УКРАИНЫ» 
	(NPBL Ukraine).
	<% end -%>
	
<% content_tag :p do %>
	Инструктора Академии имеют богатый опыт в области обеспечения личной безопасности, проведении специальных операций в городских условиях, в условиях
	 горно-лесистой местности,  приобретенный за время прохождения службы в антитеррористических подразделениях СБУ, подразделениях специальной разведки
	  МО Украины.
<% end -%>

<div class='licenzies'>
  <h4>Наши лицензии:</h4>
  <% licenzies.each do |photo| %>
    <%= link_to image_tag(photo.avatar.url(:medium)), photo.avatar.url(:licen), :class => 'highslide', :title => "Увеличить" %>
  <% end -%>
</div>
 
