<%= content_for :body_class, ' service ' %>

<% content_for :top_info do %>
  <%= image_tag 'service.jpg' %>
<% end -%>

<%= content_tag :div, '"АКАДЕМИЯ ТЕЛОХРАНИТЕЛЕЙ УКРАИНЫ" предоставляет следующие виды охранных услуг:' %>
<ul>                                                               

	<li>Обеспечение персональной безопасности;</li>
	<li>Охрана стационарных объектов;</li>
	<li>Сопровождение грузов и материальных ценностей;</li>
	<li>Морская безопасность: обеспечение персональной безопасности клиентов на водных акваториях, охрана и сопровождение морских грузов и суден, обследование дна водоемов и элементов подводных частей технических сооружений (частных причалов, частных пляжей, частных судов, поиск и подъем затонувших предметов и объектов);</li>
	<li>Охрана объектов группой быстрого реагирования;</li>
	<li>Охрана поисково-патрульными группами  удаленных объектов, объектов нефте-газовой отрасли, защита нефтепроводов от врезок и профилактика от несанкционированного скачивания нефти, организация постов, буферных зон безопасности, мониторинг местности вокруг объекта, оперативно-охранные мероприятия; </li>
	<li>Техническая защита охраняемых объектов;</li>
	<li>Оперативно-технический осмотр помещений, автомобилей и т. д. на предмет выявления технических средств съема информации;</li>
	<li>Защита информации;</li>
	<li>Информационно-аналитическая безопасность. </li>
	
</ul>
