<%= content_for :body_class, ' service ' %>
<%= content_tag :div, '"АКАДЕМИЯ ТЕЛОХРАНИТЕЛЕЙ УКРАИНЫ" предоставляет следующие виды охранных услуг:' %>
<ul>                                                               </li>
	<li>- личная охрана (телохранители);                             </li>
	<li>- охрана объектов государственной и частной собственности;   </li>
	<li>- охрана и сопровождение ценных грузов;                      </li>
	<li>- предварительная проверка объекта;                          </li>
	<li>- создание службы безопасности предприятия;                  </li>
	<li>- проверка работы службы безопасности предприятия;           </li>
	<li>- технические средства охраны;                               </li>
	<li>- техническая защита информации.	                           </li>
</ul>
